@charset "utf-8";
/* CSS Document */
* html, * html body { /*background-image:url(about:blank);*/ background-attachment:fixed }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; font-size:100%; font-style:normal; text-decoration:none }
ol, ul { list-style:none }
blockquote, q { quotes:none }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none }
:focus { outline:0 }
ins { text-decoration:none }
del { text-decoration:line-through }
table { border-collapse:collapse; border-spacing:0 }
input { font-size:12px; vertical-align:text-bottom}
body { font-family: Arial, Helvetica, sans-serif, "ו"; font-size:12px; line-height:1.6; color:#333;}
select, input, button, textarea { font: 100% Tahoma, Helvetica, Arial, sans-serif; }
a {color: #1261D7; }
a:hover { color: #ff6600; }
/* globle class */
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0px; height:0px }
.clearfix:after { content:"\0020"; display:block; height:0; clear:both }
.clearfix { _zoom:1}
*+html .clearfix { overflow:hidden }







/* layout */
.layout{ width:980px; margin: 0 auto;}

/* margin&padding */
.m5 { margin:5px }
.mt5 { margin-top:5px }
.mr5 { margin-right:5px }
.mb5 { margin-bottom:5px }
.ml5 { margin-left:5px }
.m10 { margin:10px }
.mr10 { margin-right:10px }
.mb10 { margin-bottom:10px }
.ml10 { margin-left:10px }
.mt10 { margin-top:10px; }
.mt15{margin-top:15px}
.m20 { margin:20px }
.mt20 { margin-top:20px }
.mt40 { margin-top:40px }
.mt50 { margin-top:50px }
.mr20 { margin-right:20px }
.mb20 { margin-bottom:20px }
.ml20 { margin-left:20px }
.p10 { padding:10px; }
.p20 { padding:20px; }
.pt10b { padding-bottom:0 !important; padding-top:10px !important; border:none !important; }
.pt10 { padding:0; padding-top:10px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px;}
.pb20{ padding-bottom:20px;}
.pb40{ padding-bottom:40px;}

/* input */

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.show{ display:block;}
.hide{ display:none;}











.in_br_cont_c {
	color: #cef;
}
.in_br_cont_c {
	color: #cef;
}
.in_br_cont_c {
	color: #cef;
}
.in_br_cont_c {
	color: #cef;
}
.in_br_cont_c {
	color: #cef;
}
.in_br_cont_c {
	color: #cef;
}
.in_br_cont_c {
	color: #cef;
}
.in_br_cont_c {
	color: #cef;
}
.in_br_cont_c {
	color: #cef;
}
.in_br_cont_c {
	color: #cef;
}
.in_br_cont_t2 h3 {
	color: #ff7638;
}